:root {
  --cell-width: 100px;
  --cell-num-cells: 26;
  --bg-light-grey: #f1efef;
  --bghover-light-grey: #ddd;
  --border-light-grey: #ccc;
}

body {
  font-family: "Lucida Console", Monaco, monospace;
}

.main {
  z-index: 0;
  margin-top: 80px; /* Same as the height of both menu-bars */
  margin-left: 71px; /* Same as the width of the sidebar */
  overflow: scroll;
}

.grid-wrapper {
  background-color: white;
  color: #444;
  height: 100%;
  width: 100%;
}

.grid-wrapper .cell {
  margin-top: 1px;
  margin-left: 1px;
}

.cell {
  /* border: 1px dashed var(--border-light-grey); */
  border-collapse: collapse;
  font-family: "Lucida Console", Monaco, monospace;
  background: #aaa;
}

.cell:not([display="grid"]) {
  width: 90px;
  min-height: 30px;
}

.cell:focus {
  border: 1px solid black;
  background-color: color;
  outline: none;
}

.cell:active {
  outline: none;
  
}


.cell-data.selection {
  background-color: rgb(14, 101, 235, 0.1);
}

.cell-data {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 20px;
  padding: 0px;
  background-color: None;
}


.cell-data:active {
  outline: none;
}

.suggestion {
  position: relative;
}

.suggestion .cell-data {
  border: 0px;
  width:100%; height: 100%;
  display: inline-block;
  margin: 0px;
}

.suggestion-content {
  display: none;
  position: absolute;
  top: 20px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 10px;
}

.suggestion-content a {
  color: black;
  padding: 3px 3px;
  text-decoration: none;
  display: block;
}

.suggestion-content a:hover {background-color: #f1f1f1}
.suggestion-content a:focus {background-color: #f1f1f1; outline: none}

.suggestion:focus-within > .suggestion-content {
  display: block;
}

.menu {
  width: 120px;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  display: none;
}

.menu-options {
  list-style: none;
  padding: 10px 0;
}

.menu-options .menu-option {
  font-weight: 500;
  font-size: 14px;
  padding: 10px 40px 10px 20px;
  cursor: pointer;
}


.menu-options .menu-option:hover {
  background: rgba(0, 0, 0, 0.2);
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 80px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  background-color: var(--bg-light-grey);
  border: 1px solid #ccc;
}

/* The navigation menu links */
.sidenav button {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  background-color: transparent;
  border-width: 0px;
}

.sidenav .active-menu {
  background-color: grey;
}

.side-menu-section {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 50%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 80px;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  background-color: white; /* Black */
  padding: 10px;
  background-color: var(--bg-light-grey);
  border: 1px solid var(--border-light-grey);
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.horizontal-bar {
  overflow: hidden;
  border: 1px solid #ccc;
  position: fixed;
  z-index: 1;
  left: 80px;
  overflow-x: hidden;
  padding: 5px;
  background-color: var(--bg-light-grey);
  width: 100%
}

.menu-bar {
  top: 0px;
  height: 30px;
}

.active-cell-indicator {
  border: 1px solid grey;
}

.menu-bar-button {
  background-color: var(--bg-light-grey);
  border: 1px solid grey;
  outline: none;
}

.menu-bar-button:hover {
  background-color: var(--bghover-light-grey);
}

.menu-bar-button:active {
  background: grey;
}

.tab-bar {
  top: 40px;
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
}

.tab-bar button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab-bar .tab {
  background-color: var(--bg-light-grey);
  border: 1px solid var(--border-light-grey);
  border-right: 0px;
  font-weight: bold;
  outline: none;
}

.tab-bar .tab:hover {
  background-color: var(--bghover-light-grey);
}

.tab-bar .tab:active {
  background: grey;
}

.tab-bar .tab.active-tab {
  margin-top: 1px;
  background-color: var(--bghover-light-grey);
}

.tab-bar .newtab-btn {
  border: 1px solid grey;
  color: grey;
  background-color: var(--bg-light-grey);
  font-weight: bold;
  font-size: 20px;
  padding-top: 5px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
